body{
    background: #202020;
    color: whitesmoke;
}

.navbar{
    
    background: #404040;
    
}

.navbar ul li{
    list-style: none;
}

.navbar ul{
    display:inline-flex;
    justify-content: space-between;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: aquamarine;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.card{
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.input{
    background: wheat;
    padding: 10px;
    display: block;
}