{% extends "layouts/base.html" %}

{% block content %}
<h1>Hello class</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, a. Modi repudiandae magnam, dignissimos numquam veritatis quasi! Quam molestiae ab pariatur expedita nemo quos voluptates nobis. Ratione aut repellendus assumenda molestias possimus, ullam ad. Ex debitis maiores id rerum? Magni dolorem vitae praesentium ratione expedita exercitationem suscipit soluta vero fugit accusantium alias magnam excepturi commodi blanditiis dolore quaerat voluptas illum libero, eaque reiciendis in iure, impedit beatae. Ad voluptatibus dolor officia dolorum quod itaque at delectus facere, eligendi maiores saepe aut autem quam sapiente aliquam, necessitatibus, incidunt eius! Voluptates nisi voluptatem sed quam atque dolorum porro perferendis cupiditate soluta iusto.</p>

{% endblock %}